pyrogram
tgcrypto
requests
yt-dlp
ffmpeg
beautifulsoup4==4.9.3
bs4==0.0.1
aiohttp
aiofiles
mediainfo
hachoir
cloudscraper
pycryptodome
pytz
pyromod
helper
psutil
py-tgcalls==0.6.0
urllib3==1.26.5
chardet==3.0.4
